.header_section {
  color: #fff;
  background-color: #001f2a;
}
.navbar-brand img {
  height: 70px;
}

.navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  font-size: 1.35rem;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-item img {
  padding: 5px 10px;
}
